<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Django People</title>
</head>
<body>
    <div class='row'>
    <div class=" col-sm-6">
        <ul class=" nav nav-tabs">
            <li class="active"><a href="#Total" data-toggle="tab">Total </a></li>
            <li><a href="#Home" data-toggle="tab">Home </a></li>
            <li><a href="#Away" data-toggle="tab">Away </a></li>
            
                <div class="container">
                    <div class="row">
                        <div class='col-sm-2'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker2').datetimepicker({
                                    locale: 'ru'
                                });
                            });
                        </script>
                    </div>
                </div>
            


        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="Total">
                
                <table class="table table-striped table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align:center" width="250"> Team</th>
                            <th style="text-align:center" width="10"> Games Played</th>
                            <th style="text-align:center" width="3"> wins</th>
                            <th style="text-align:center" width="3"> lost</th>
                            <th style="text-align:center" width="3"> draws</th>
                            <th style="text-align:center" width="5"> goals +</th>
                            <th style="text-align:center" width="5"> goals -</th>
                            <th style="text-align:center" width="5"> Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in Context.0.items %}
                        <tr>
                            <td>     {{ value.team}}</td>
                            <td style="text-align:center">     {{ value.GamesPlayed}}</td>
                            <td style="text-align:center">     {{ value.wins}}</td>
                            <td style="text-align:center">     {{ value.lost}}</td>
                            <td style="text-align:center">     {{ value.draws}}</td>
                            <td style="text-align:center">     {{ value.goalsfor}}</td>
                            <td style="text-align:center">     {{ value.goalsagainst}}</td>
                            <td style="text-align:center">     {{ value.score}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
            <div class="tab-pane " id="Home">
                
                <table class="table table-striped table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align:center" width="250"> Team</th>
                            <th style="text-align:center" width="10"> Games Played</th>
                            <th style="text-align:center" width="3"> wins</th>
                            <th style="text-align:center" width="3"> lost</th>
                            <th style="text-align:center" width="3"> draws</th>
                            <th style="text-align:center" width="5"> goals +</th>
                            <th style="text-align:center" width="5"> goals -</th>
                            <th style="text-align:center" width="5"> Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in Context.1.items %}
                        <tr>
                            <td>     {{ value.team}}</td>
                            <td style="text-align:center">     {{ value.GamesPlayed}}</td>
                            <td style="text-align:center">     {{ value.wins}}</td>
                            <td style="text-align:center">     {{ value.lost}}</td>
                            <td style="text-align:center">     {{ value.draws}}</td>
                            <td style="text-align:center">     {{ value.goalsfor}}</td>
                            <td style="text-align:center">     {{ value.goalsagainst}}</td>
                            <td style="text-align:center">     {{ value.score}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
            <div class="tab-pane " id="Away">
                
                <table class="table table-striped table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align:center" width="250"> Team</th>
                            <th style="text-align:center" width="10"> Games Played</th>
                            <th style="text-align:center" width="3"> wins</th>
                            <th style="text-align:center" width="3"> lost</th>
                            <th style="text-align:center" width="3"> draws</th>
                            <th style="text-align:center" width="5"> goals +</th>
                            <th style="text-align:center" width="5"> goals -</th>
                            <th style="text-align:center" width="5"> Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in Context.2.items %}
                        <tr>
                            <td>     {{ value.team}}</td>
                            <td style="text-align:center">     {{ value.GamesPlayed}}</td>
                            <td style="text-align:center">     {{ value.wins}}</td>
                            <td style="text-align:center">     {{ value.lost}}</td>
                            <td style="text-align:center">     {{ value.draws}}</td>
                            <td style="text-align:center">     {{ value.goalsfor}}</td>
                            <td style="text-align:center">     {{ value.goalsagainst}}</td>
                            <td style="text-align:center">     {{ value.score}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
        </div>
    </div> 
    </div>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>